# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de teste
coverage/
.nyc_output/
